@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mx-auto bg-slate-100 dark:bg-slate-700;
  }

  .info-details {
    @apply flex flex-row-reverse justify-between rounded-md bg-cyan-400/30 py-3 px-6 font-semibold text-cyan-100 drop-shadow-md dark:bg-slate-500/20 dark:text-slate-300 sm:flex-col sm:items-center sm:bg-cyan-400/0 sm:font-bold sm:drop-shadow-none sm:dark:bg-slate-500/0 md:text-lg;
  }
}
